/*************************
general
**************************/
a {
    text-decoration: none;
}

header{
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}
img{
    max-width: 100%;
}

body{
    font-family:'Aldrich', serif;
}


#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}

#logo {
    /*the name of the person and the project*/
    text-align: center;
    margin: 0;
}

h1,h2{
    color: #0000ff;
}

h1{
    font-family: 'Alegreya SC', serif;
    margin: 15px 0;
    font-size: 2em;
}

h2 {
   font-size: 0.825em;
   margin: -5px 0 0;
   font-weight: normal;
   margin-bottom: 20px;
}

h3{
    color: #0000ff;
    margin: 0 0 1em 0;
    font-size: 2em;
}

p{
    color: white;
    font-size: 1.25em;
   font-family:'Aldrich', serif;
}





/***************************************************
navigation
****************************************************/

nav{
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav ul{
    list-style: none;
    padding: 2.5% 0;
    margin: 0 10px;
}

nav li{
    display: inline-block;
}

nav a{
    font-weight: 800;
        padding: 15px 10px;
}

nav{
    background: black;
}

nav a, nav a:visited{
    color: white;
}

nav a.selected, nav a:hover {
    color: blue;
}



/**************************************
footer
***************************************/

footer{
    font-size: .5em;
    text-align: center;
    padding-top: 50px;
    color: #ccc;
    clear: both;
}

.social-media-icon{
    width: 20px;
    height: 20px;
    margin: 0 auto;
}







/************************************
page porttfolio
*************************************/

#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li{
    float: left;
    width: 60%;
    height:400px;
    margin: 2.5%;
    background-color: transparent;
    color: blue;
}

#gallery li a p{
    margin: 0;
    padding: 0;
    font-size: 1em;
    color: black;
}


/***************************************
about me page
****************************************/


.profile-photo{
    display: block;
    max-width: 0 auto 30px;
    border-radius: 25%;
}

.contact-info{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}

.contact-info a{
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}


.contact-info li.mail a{
    background-image: url('../image/mail.png');
}


.contact-info li.twitter a{
    background-image: url('../image/twitter-icon png.png');
}





/***********************************************************
MEdia Queries/  box modal
***********************************************************/
/* Modal Base CSS */
.scotch-overlay
{
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;

    opacity: 0;

    width: 100%;
    height: 100%;

    -webkit-transition: 1ms opacity ease;
       -moz-transition: 1ms opacity ease;
        -ms-transition: 1ms opacity ease;
         -o-transition: 1ms opacity ease;
            transition: 1ms opacity ease;

    background: rgba(0,0,0,.6);
}

.scotch-modal
{
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 50%;

    opacity: 0;

    width: 94%;
    padding: 24px 20px;

    -webkit-transition: 1ms opacity ease;
       -moz-transition: 1ms opacity ease;
        -ms-transition: 1ms opacity ease;
         -o-transition: 1ms opacity ease;
            transition: 1ms opacity ease;

    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

    border-radius: 2px;
    background: #fff;
}

.scotch-modal.scotch-open.scotch-anchored
{
    top: 20px;

    -webkit-transform: translate(-50%, 0);
       -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
         -o-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
}

.scotch-modal.scotch-open
{
    opacity: 1;
}

.scotch-overlay.scotch-open
{
    opacity: 1;

}

/* Close Button */
.scotch-close
{
    font-family: Helvetica,Arial,sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 12px;

    position: absolute;
    top: 5px;
    right: 5px;

    padding: 5px 7px 7px;

    cursor: pointer;

    color: #fff;
    border: 0;
    outline: none;
    background: #e74c3c;
}

.scotch-close:hover
{
    background: #c0392b;
}

/* Default Animation */

.scotch-overlay.zoom
{
    display: block;

    opacity: 0;
}

.scotch-modal.zoom
{

    -webkit-transition: 500ms -webkit-transform ease;
       -moz-transition: 500ms    -moz-transform ease;
        -ms-transition: 500ms     -ms-transform ease;
         -o-transition: 500ms      -o-transform ease;
            transition: 500ms         transform ease;
    -webkit-transform: translate(-50%, -50%) scale(0);
       -moz-transform: translate(-50%, -50%) scale(0);
        -ms-transform: translate(-50%, -50%) scale(0);
         -o-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);

    opacity: 1;

    display: block;
}

.scotch-modal.zoom.scotch-open
{
    -webkit-transition: 500ms -webkit-transform 500ms ease;
       -moz-transition: 500ms    -moz-transform 500ms ease;
        -ms-transition: 500ms     -ms-transform 500ms ease;
         -o-transition: 500ms      -o-transform 500ms ease;
            transition: 500ms         transform 500ms ease;
    -webkit-transform: translate(-50%, -50%) scale(1);
       -moz-transform: translate(-50%, -50%) scale(1);
        -ms-transform: translate(-50%, -50%) scale(1);
         -o-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
}

.scotch-modal.zoom.scotch-open.scotch-anchored
{

    -webkit-transition: 500ms -webkit-transform 500ms ease;
       -moz-transition: 500ms    -moz-transform 500ms ease;
        -ms-transition: 500ms     -ms-transform 500ms ease;
         -o-transition: 500ms      -o-transform 500ms ease;
            transition: 500ms         transform 500ms ease;
}

.scotch-overlay.zoom.scotch-open
{
    top: 0;

    -webkit-transition: 500ms opacity ease;
       -moz-transition: 500ms opacity ease;
        -ms-transition: 500ms opacity ease;
         -o-transition: 500ms opacity ease;
            transition: 500ms opacity ease;

    opacity: 1;
}

.scotch-overlay.zoom
{
    -webkit-transition: 500ms opacity 500ms ease;
       -moz-transition: 500ms opacity 500ms ease;
        -ms-transition: 500ms opacity 500ms ease;
         -o-transition: 500ms opacity 500ms ease;
            transition: 500ms opacity 500ms ease;
}

/* Demo Styles */
html
{
    box-sizing: border-box;
}

*
{
    box-sizing: inherit;
}

body
{
    font-family: Helvetica,Arial,san-serif;
    font-size: 16px;

    margin: 0;
    padding: 0;
}

#content
{
    display: none;
}

.trigger-button
{
    font-size: 17px;

    position: relative;
    top: 100px;

    display: block;

    margin: auto;
    padding: 10px 30px;

    cursor: pointer;

    color: #fff;
    border: 0;
    border-radius: 3px;
    outline: none;
    background: #3498db;
    box-shadow: 0 5px 1px #196090;
}

.trigger-button:hover
{
    background: #196090;
    box-shadow: 0 5px 1px #0a2639;
}

.trigger-button:active
{
    border-top: 5px solid white;
    box-shadow: none;
}


@media screen and (min-width: 480px){
    #primary{
        width: 50%;
        float: left;
    }
    
    #secondary {
        width: 40%;
        float: right;
    }
    
#gallery li{
    width: 28.3333%;
}
#gallery li:nth-child(4n){
    clear: left;
}
.profile-photo{
    float: left;
      margin: 0 5% 80px 0;
}
    }

    @media screen and (min-width: 660px){
        nav{
            background: none;
            float: right;
            font-size: 1.125em;
            margin-right: 5%;
            text-align: right;
            width: 45%;
        }
   
        #logo{
            float:left;
            margin-left: 5%;
            text-align: left;
            width: 45%;
        }
    
    }
    
 
    
    
   /******************************************
   color
   *******************************************/

   
body {
    background-color: grey;
    color: black; 
    list-style: none;
}

a{
    color: blue;
    font-family: 'Alegreya SC', serif;
    font-size: 1.75em;
}

header{
    background: black;
}
    
    header{
        border-bottom: 10px solid lime;
        margin-bottom: 60px;

ul{
    color: purple;
}
 
